.modal-background {
  position: fixed;
  display: grid;
  grid-template-rows: 4rem auto;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
}

.image-modal {
  display: grid;
  justify-items: center;
  align-items: top;
  margin-top: 1rem;
  z-index: 2;
  img {
    max-width: 75%;
    height: auto;
    border-radius: 0.2%;
    color: white;
  }
}

.image-modal_close {
  z-index: 3;
  width: 2rem;
  height: 2rem;
  grid-row-start: 1;
  justify-self: right;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 0;
}
